<h2>Lista de postagens:</h2>
<hr>
  {{#if user}}
  {{#each postagens}}        
 <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição:{{descricao}}</p>
           <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>{{usuarios}}</small><br> 
      <a href="/usuarios/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar Postagem</button></a>
      <a href="/usuarios/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar Postagem</button></a>
  </div>
</div>
  {{/each}}
  
  {{else}}
{{#each postagens}}        
 <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição:{{descricao}}</p>
           <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>{{usuarios}}</small>
    
  </div>
    </div>
{{/each}}
  {{/if}}
